<div class="origin-twist">
<h2 class="origin-twist__header">About Us</h2>
</div>
<hr class="origin-twist__hr" />
<div class="origin-twist">
<p class="origin-twist__paragraph">
  Origins twist was born out of a desire to create beautifully made reusable
  coffee cups with our signature theme of only designing with African Wax print.
</p>
<p class="origin-twist__paragraph">
  Our eco-friendly cups come in exuberant ethnic print, inspired by the African
  wax print designs, there by bringing together two themes that we are really
  passionate about.
</p>
<p class="origin-twist__paragraph">
  Our goal is to continue the conversation of this behavioural change from
  discarding to reusing. Whilst introducing a whole new element of doing it in
  style. Our beautiful designs are sure to be a show stopper.
</p>
</div>
<hr />

