<div class="origin-twist">
  <h2 class="origin-twist__header">Our Product</h2>
</div>
<hr class="origin-twist__hr" />
<div class="origin-twist">
  <p class="origin-twist__paragraph">
    Our reusable coffee cups are crafted with Bamboo fibre which are completely
    biodegradable. Our secure silicon lid and sleeve are made with food-grade
    silicon and designed especially for hot liquids. our lids come with a lid
    blocker to prevent spillage on the go.
  </p>
</div>
<ul class="olive">
  <li class="olive__list">Made from bamboo fibre</li>
  <li class="olive__list">Dishwasher safe</li>
  <li class="olive__list">Free of BPA and Phthalate</li>
</ul>
<hr />
