/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif;
  .toolbar {
    color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    width: 100%;
    height: 50px;
    background-color: white;

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
  }

  .origin-twist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
      color: darkgray;
      text-align: center;
      margin: 20px 0 10px
    }

    &__hr {
      border: 0;
      height: 55px;
      background-image: url(/assets/img/hr_origin_twists.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    &__paragraph {
      text-align: center;
    }
  }
}
